# Environnement virtuel
uv/

# Données (gérées par DVC)
/data/

# Modèles entraînés
/models/

# DVC
.dvc/cache/
.dvc/tmp/

# Python
__pycache__/
*.pyc

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# MLflow
mlruns/


catboost_info/


