name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt

      - name: Run basic checks
        run: |
          python -m compileall src/

  run-dvc-pipeline:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt
          pip install "dvc[gdrive]"

      - name: Download raw/processed data and models from Google Drive
        run: |
          pip install gdown
          mkdir -p data/processed models
          # Raw data
          gdown https://drive.google.com/uc?id=1MJbgOzreJtWKpkK1UMMMgFtk29_5YMg9 -O data/raw/df_final.csv
          # Data processed
          gdown https://drive.google.com/uc?id=1YyGn9DM3tzxkuy-s6ERBgaJC7_sRuXXl -O data/processed/X_train.csv
          gdown https://drive.google.com/uc?id=1c3RFJxCUdMMZ-QTbdST9MB8eimdYXRsQ -O data/processed/X_test.csv
          gdown https://drive.google.com/uc?id=14JkhBai7zhODwSNHPjACDIrYmru1OMgN -O data/processed/y_train.csv
          gdown https://drive.google.com/uc?id=1EuLdKO8PSdSn_7zSl88h1KDKKU9g454i -O data/processed/y_test.csv
          # Models
          gdown https://drive.google.com/uc?id=1Yh_MbLCtDj73bwso38HY3mLkGaDi9Kcd -O models/best_model.pkl
          gdown https://drive.google.com/uc?id=1kqo7i75sqVcTJuqyz_B3UveiHR_6x4KR -O models/encoder.pkl

      - name: Run DVC pipeline
        run: |
          dvc repro
          dvc status

  test-api:
    runs-on: ubuntu-latest
    needs: run-dvc-pipeline

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install API dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_api.txt
          pip install uvicorn fastapi gdown

      - name: Download model and data from Google Drive
        run: |
          mkdir -p models data/processed
          gdown https://drive.google.com/uc?id=1Yh_MbLCtDj73bwso38HY3mLkGaDi9Kcd -O models/best_model.pkl
          gdown https://drive.google.com/uc?id=1kqo7i75sqVcTJuqyz_B3UveiHR_6x4KR -O models/encoder.pkl
          gdown https://drive.google.com/uc?id=1YyGn9DM3tzxkuy-s6ERBgaJC7_sRuXXl -O data/processed/X_train.csv
          gdown https://drive.google.com/uc?id=14JkhBai7zhODwSNHPjACDIrYmru1OMgN -O data/processed/y_train.csv

      - name: Check API starts
        run: |
          uvicorn api.main:app --port 8000 --reload --host 127.0.0.1 --lifespan off &
          sleep 5
          ps aux | grep uvicorn
          curl -f http://localhost:8000/


  # lint:
  #   runs-on: ubuntu-latest
  #   needs: build-test

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: "3.13"

  #     - name: Install linting tools
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install flake8

  #     - name: Run linting
  #       run: |
  #         flake8 src/