name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt

      - name: Run basic checks
        run: |
          python -m compileall src/



  test-api:
    runs-on: ubuntu-latest
    needs: build-test  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install API dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_api.txt

      - name: Check API starts
        run: |
          pip install uvicorn fastapi
          uvicorn api.main:app --port 8000 --reload --host 127.0.0.1 --lifespan off &
          sleep 5  # laisse le serveur démarrer
          ps aux | grep uvicorn  # vérifie qu'il tourne
          curl -f http://localhost:8000/health  # vérifie le endpoint de santé



  # run-dvc-pipeline:
  #   runs-on: ubuntu-latest
  #   needs: build-test  # s'assure que build-test est passé

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: "3.13"

  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install -r requirements_ci.txt
  #         pip install "dvc[gdrive]"

  #     - name: Download raw/processed data and models from Google Drive
  #       run: |
  #         pip install gdown
  #         mkdir -p data/processed models
  #         # Data processed
  #         gdown https://drive.google.com/uc?id=<X_train_ID> -O data/processed/X_train.csv
  #         gdown https://drive.google.com/uc?id=<X_test_ID> -O data/processed/X_test.csv
  #         gdown https://drive.google.com/uc?id=<y_train_ID> -O data/processed/y_train.csv
  #         gdown https://drive.google.com/uc?id=<y_test_ID> -O data/processed/y_test.csv
  #         # Models
  #         gdown https://drive.google.com/uc?id=<best_model_ID> -O models/best_model.pkl
  #         gdown https://drive.google.com/uc?id=<encoder_ID> -O models/encoder.pkl

  #     - name: Run DVC pipeline
  #       run: |
  #         dvc repro
  #         dvc status



