name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt

      - name: Run basic checks
        run: |
          python -m compileall src/

  run-dvc-pipeline:
    runs-on: ubuntu-latest
    needs: build-test  # s'assure que build-test est passé

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt
          pip install "dvc[gdrive]"

      - name: Run DVC pipeline
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          # 1. On récupère les données depuis Google Drive
          dvc pull
          
          # 2. On lance les étapes du projet
          dvc repro  # relance la pipeline DVC
          dvc metrics show  # affiche les métriques générées
          dvc plots show  # affiche les plots générés
          dvc dag  # affiche le DAG de la pipeline
          dvc status  # vérifie le statut de la pipeline
          dvc diff  # montre les différences entre les versions de données
