name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt

      - name: Run basic checks
        run: |
          python -m compileall src/

      - name: Run unit tests (if any)
        run: |
          # pytest tests/ (si vous avez des tests)
          echo "Tests passed"

  test-data-pipeline:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_ci.txt

      - name: Download raw data
        run: |
          pip install gdown
          mkdir -p data/raw
          gdown https://drive.google.com/uc?id=1kqo7i75sqVcTJuqyz_B3UveiHR_6x4KR -O models/encoder.pkl
          gdown https://drive.google.com/uc?id=1MJbgOzreJtWKpkK1UMMMgFtk29_5YMg9 -O data/raw/df_final.csv

      - name: Test data preparation
        run: |
          python -m src.data.prepare_data
          ls data/processed/  

  test-api:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install API dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_api.txt
          pip install uvicorn fastapi gdown

      - name: Download pre-trained models and data
        run: |
          mkdir -p models data/processed
          gdown https://drive.google.com/uc?id=1Yh_MbLCtDj73bwso38HY3mLkGaDi9Kcd -O models/best_model.pkl
          gdown https://drive.google.com/uc?id=1kqo7i75sqVcTJuqyz_B3UveiHR_6x4KR -O models/encoder.pkl
          gdown https://drive.google.com/uc?id=11bF9sjlWISsR1fNQLCAjbGaKt36OPGJA -O models/feature_names.pkl
          gdown https://drive.google.com/uc?id=1YyGn9DM3tzxkuy-s6ERBgaJC7_sRuXXl -O data/processed/X_train.csv
          gdown https://drive.google.com/uc?id=14JkhBai7zhODwSNHPjACDIrYmru1OMgN -O data/processed/y_train.csv

      - name: Test API startup
        run: |
          uvicorn api.main:app --host 127.0.0.1 --port 8000 &
          sleep 5
          curl -f http://localhost:8000/


      - name: Test API prediction
        run: |
          curl -X POST http://127.0.0.1:8000/predict -H "Content-Type: application/json" -d "{\"flight_date\": \"2025-12-19\", \"airline\": 19, \"flight_number\": 3202, \"origin_airport\": 305, \"dest_airport\": 56, \"scheduled_dep_time\": 1420.0, \"dep_delay\": 5.0, \"taxi_out\": 18.0, \"wheels_off\": 1432.0, \"scheduled_arr_time\": 1600.0, \"scheduled_elapsed_time\": 100.0, \"distance\": 450.0, \"year\": 2025, \"month\": 12}"


  # lint:
  #   runs-on: ubuntu-latest
  #   needs: build-test

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: "3.13"

  #     - name: Install linting tools
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install flake8

  #     - name: Run linting
  #       run: |
  #         flake8 src/